#tex 
{
       text-align:left;
       display: block;
       margin-block-start: 1em;
       margin-block-end: 1em;
       margin-inline-start: 0px;
       margin-inline-end: 0px;
       color: rgb(52, 56, 59);
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#cover h3{
    color: rgb(186, 200, 209);
    font-size: 32px;
    text-align: center;
}
#cover p{
    font-size: 42px;
    color:rgb(52, 56, 59);
    text-align: center;
    font-weight: 300;
    line-height: 1.5;
    
}


#tex1  p,li
{  text-align:left;
    display: block;
   
    margin-bottom: 8px;
    color: rgb(52, 56, 59);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    
}
.flex-container{
    display:flex;
    flex-direction: row;
    margin-bottom: 20px;
    margin-top: 20px;
 
 }
 .box1{
   flex-grow:1;
   width: 25%;
   background-color:white;
 }
 .box2{
   flex-grow:4;
   width: 50%;
   margin-left: 10px;
   margin-right: 10px;
   background-color:white;
 }
 .box3{
   flex-grow:1;
   width: 25%;
   background-color: white;
 }
 .flex-container >section{
    flex-basis: auto;
 }
 #people img
 {  width: 200px;
    height: 200px;
   padding-right: 10px;
 }
 
 
#people 
{
padding-left: 10%;
text-align:auto;
color: rgb(52, 56, 59);
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#people h3{
    text-align: center;
}
#maps {
    text-align: center;
    padding-top: 10px;
    align-content: center;
 /* The height is 400 pixels */
     /* The width is the width of the web page */
    }
#lr
{
    text-align: center;
}