.container{
    text-align: center;
    margin:auto;
}
.container1{
    font-size: 32px;
    opacity: 1;
    text-align: center;
    display: block;
    font-weight: 600;
    margin-bottom: 8px;
    color: rgb(186, 200, 209);
}
.container2{
    color: rgb(52, 56, 59);
    opacity: 1;
    text-transform: none;
    display: block;
    font-size: 48px;
    font-weight: 300;
    line-height: 56px;
    margin-bottom: 64px;
    margin-top: 0px;
    min-height: 48px;
    text-align: center;
}
    @media (max-width: 480px){
.container2 {
    font-size: 40px;
    line-height: 48px;
.container5{
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 20px;
        margin-top: 44px;
}
    
}
}
.button{
    background-color: rgb(0, 200, 0);
    cursor: pointer;
    margin-bottom: 16px;
    touch-action: manipulation;
    font-size: 16px;
    font-weight: 600;
    opacity: 1;
    text-align: center;
    text-transform: uppercase;
    display: inline;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
    color: rgb(255, 255, 255);
    overflow: hidden;
    text-decoration: none;
    transition: all 0.24s ease 0s;
    height: 48px;
    line-height: 48px;
    max-width: 100%;
    min-width: 150px;
    width: auto;
    display: inline-block !important;
    border-radius: 8px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    text-decoration: none;
    transition: all 0.24s ease 0s;
    outline: none;
    padding: 0px 32px;
}
.button:visited, .button:link, .button:active {
    color: rgb(255, 255, 255);
}
.container3{
    color: rgb(52, 56, 59);
    font-size: 12px;
    font-weight: 300;
    opacity: 0.7;
    text-align: center;
    text-transform: none;
}
.col-sm-5{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    background-color: rgb(255, 255, 255);
    color: rgb(52, 56, 59);
    display: flex;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    line-height: 1.5;
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
}
.container5{
    color: rgb(52, 56, 59);
    opacity: 1;
    text-transform: none;
    display: block;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    margin-bottom: 24px;
    margin-top: 48px;
    text-align: center;
    
}
.container6{
    color: rgb(52, 56, 59);
    opacity: 1;
    text-transform: none;
    display: block;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    margin-bottom: 24px;
    margin-top: 48px;
    text-align: center;
}