.flex-container{
    display:flex;
    flex-direction: row;
    margin-bottom: 20px;
    margin-top: 20px;
 
 }
 .box1{
   flex-grow:1;
   width: 15%;
   
 }
 .box2{
   flex-grow:4;
   width: 70%;
   text-transform: uppercase;
   margin-left: 10px;
   margin-right: 10px;
   
 }
 .flex-container2 {
    display:flex;
    margin-left: 100px;
    margin-right: 400px;
    margin-bottom: 20px;
    margin-top: 0px;
 }
 .box21{
     width:25%;
     
 }
 .box21 h4{
     margin-left: 45px;
     color: rgb(79, 83, 87);
 }
 .box21  ul a{
     text-decoration: none;
     padding-top: 100px;
     color: rgb(79, 83, 87);
     font-size: 12px;
 }
 .box21 li{
    list-style-type: none;
}
 .box22{
    width:25%;
    
}
.box22 h4{
    margin-left: 45px;
    color: rgb(79, 83, 87);
}
.box22  ul a{
    text-decoration: none;
    color: rgb(79, 83, 87);
     font-size: 12px;
}
.box22 li{
    list-style-type: none;
}
.box23{
    width:25%;
    
}
.box23 h4{
    margin-left: 40px;
    color: rgb(79, 83, 87);
}
.box23  ul a{
    text-decoration: none;
   
    color: rgb(79, 83, 87);
     font-size: 12px;
}
.box23 li{
    list-style-type: none;
}
.box24{
    width:25%;
    
}
.box24 h4{
    margin-left: 40px;
    color: rgb(79, 83, 87);
}
.box24  ul a{
    text-decoration: none;
    
    color: rgb(79, 83, 87);
     font-size: 12px;
}
.box24 li{
    list-style-type: none;
}
 .box3{
   flex-grow:1;
   width: 15%;
  
 }
 